.venv/
venv/
env/
__pycache__/
*.pyc
.DS_Store
.git/
.gitignore
.gitattributes
**/.ipynb_checkpoints/
*.ipynb
notebook/
notebooks/
data/
local-mongodb/
atlas-credentials.env
cred.txt
*.csv
*.dump
*.bson
